@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;700&display=swap");
:root {
  --bg-1: #121212;
  --font-color-1: #f2f2f2;
  --font-size-1: 1.8rem;
}
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-thumb {
  background-color: #3d3736;
  border-radius: 1rem;
}
* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img {
  object-fit: contain;
}

.max-width {
  max-width: 1400px;
  margin-inline: auto;
}
h3 {
  font-size: 5rem;
  font-weight: 900;
}
a {
  text-decoration: none;
  color: var(--font-color-1);
}

.logo {
  color: var(--font-color-1);
  font-family: var(--primary-fontFamily);
  font-size: 2rem;
  font-weight: 600;
  line-height: 100%;
}
header {
  background-color: var(--bg-1);
  position: absolute;
  width: 100%;
}
.front-page {
  color: var(--font-color-1);
}
header nav {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}
.menu {
  display: flex;
  gap: 3rem;
}

.menu li a {
  font-family: var(--primary-fontFamily);
  font-size: 1.5rem;
  font-weight: 500;
}
/* Front Page */
.personal-details {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  background-color: var(--bg-1);
}
.personal-details .container {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  color: var(--font-color-1);
  padding: 1rem;
}
.personal-details h2 {
  font-size: 7rem;
}
.personal-details p {
  font-size: 4rem;
  font-weight: 500;
}
.desc {
  display: flex;
  justify-content: end;
  margin-top: 2rem;
}
.desc h3 {
  font-size: 3rem;
}

/* Skills Section */
marquee {
  background-color: #3d3736;
  padding: 4rem 1rem;
}
.marquee-cont {
  display: flex;
  gap: 2rem;
}
.marquee-cont div {
  display: flex;
  align-items: center;
  gap: 15px;
}
.marquee-cont div img {
  width: 5rem;
}
.marquee-cont div span {
  font-style: italic;
  font-weight: 500;
  font-size: 28px;
}

/* Project Card */
.projects {
  background-color: #f2f2f2;
}
.projects-container {
  padding: 3rem 1rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
.projects-container h3 {
  color: var(--bg-1);
}
.project-card {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: space-between;
}
.cards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  text-align: left;
  gap: 1rem;
  width: 30%;
  height: 40%;
  background-color: #3d3736;
  padding: 1.5rem;
  border-radius: 12px;
  transition: all 0.4s ease-in-out;
}
.cards img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.cards:hover {
  box-shadow: 5px 0px 25px rgb(61, 58, 58);
}

.cards p {
  font-size: var(--font-size-1);
  font-weight: 700;
}
.cards .pro-desc {
  font-size: 18px;
  text-decoration: none;
  font-weight: normal;
}
.cards a {
  text-decoration: underline;
}
.cards a span {
  font-size: 18px;
}
.cards div {
  width: 100%;
  text-decoration: underline;
  display: flex;
  justify-content: space-between;
}

/* Certification section */
.cert {
  background-color: var(--bg-1);
}
.certification {
  color: var(--font-color-1);
  padding: 3rem 0;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.certification .certificate-card {
  display: flex;
  align-items: center;
  border-radius: 12px;
  flex-wrap: wrap;
  gap: 3rem;
  width: 100%;
  height: 20%;
  padding: 1.5rem;
  background-color: #3d3736;
}
.certification .certificate-card p {
  font-size: var(--font-size-1);
  font-weight: 520;
}
/* About Me */
.about {
  width: 100%;
  height: 90vh;
  background-color: var(--bg-1);
  padding: 3rem 1rem;

  object-fit: cover;
}
.about-detail {
  display: flex;
  justify-content: space-between;
  height: -webkit-fill-available;
}
.about .about-container {
  background-color: #a7a299;
  padding: 1.5rem;
  width: 100%;
  color: var(--bg-1);
  font-weight: 500;
  border-radius: 12px;
  font-size: 18px;
  box-shadow: 5px 0px 25px rgb(12, 12, 12);
}
.about-container p {
  font-size: 20px;
  line-height: 45px;
  font-style: italic;
}
.about-left {
  width: 45%;
}
.about-right {
  display: flex;
  gap: 1rem;
  width: calc(100% - 45%);
  position: relative;
}
.about-right .about-card {
  height: 250px;
  width: 240px;
  background-color: #f2f2f2;
  padding: 1rem;
  box-shadow: 5px 0px 25px rgb(106, 100, 100);
}
.about-right .about-card img {
  width: 100%;
  height: 80%;
  object-fit: cover;
  background-position: center;
}
.bike-pht {
  position: absolute;
  right: 0;
}
.reading-pht {
  position: absolute;
  right: 9rem;
  bottom: -3rem;
}
.radio-pht {
  position: absolute;
  left: 6rem;
  top: 4.5rem;
}
/* Footer Section*/
.contact {
  background-color: var(--bg-1);
  padding: 3rem 0;
}
.contact .container {
  display: flex;
  flex-direction: column;
  height: 60vh;
  /* background-color: #3d3736; */
  /* background: linear-gradient(to bottom, rgba(0, 0, 0, 0.15) 0%, rgba(0,0,0,0.15) 100%), radial-gradient(at top center, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.40) 120%) #989898;
 background-blend-mode: multiply,multiply; */
 background-color: #3d3736;
  padding: 1rem 3rem;
  border-radius: 30px;
  gap: 2rem;
}
.contact-contianer {
  color: var(--font-color-1);
  height: -webkit-fill-available;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}
.contact h2 {
  font-size: 5rem;
}
.contact-contianer p {
  font-size: 3rem;
}
.connect-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contact-left {
  width: 40%;
  height: -webkit-fill-available;
}
.contact-right {
  height: -webkit-fill-available;
  width: 60%;
  position: relative;
}
.contact ul {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  font-size: 16px;
  font-weight: 400;
}
.connect-msg {
  width: 10rem;
  height: 7.5rem;
  padding: 12px;
  transition: all 0.4s ease-in-out;
}
.connect-msg:hover {
  box-shadow: 5px 0px 25px rgb(170, 163, 163);
}
.connect-msg li {
  font-size: 18px;
  font-weight: 600;
}
.contact .connect-msg p {
  font-size: 14px;
}
.mobile-contact{
  display: none;
}
.cont-email {
  position: absolute;
  top: 1rem;
}
.cont-linkedin {
  position: absolute;
  left: 7rem;
  bottom: 0;
}
.cont-github {
  position: absolute;
  top: 5rem;
  left: 20rem;
}
.cont-twitter {
  position: absolute;
  right: 5rem;
}
.cont-hash {
  position: absolute;
  bottom: 0;
  right: 3rem;
}

footer {
  text-align: center !important;
}
footer p {
  /* text-align: center; */
  color: var(--font-color-1);
  font-size: 18px !important;
}
@media (max-width: 780px) {
  .cards {
    width: 100%;
  }
  .projects {
    padding: 1rem;
  }
}
@media (max-width: 550px) {
  header nav{
    padding: 2rem 1rem;
  }
  .logo{
    font-size: 2.3rem;
  }
  .menu {
    display: none;
  }
  .personal-details h2 {
    font-size: 5rem;
  }
  .personal-details p {
    font-size: 1.6rem;
  }
  .desc {
    justify-content: start;
  }
  .desc h3 {
    text-align: left;
    font-size: 1.8rem;
  }
  marquee {
    padding: 2rem 1rem;
  }
  .projects-container {
    padding: 2rem 0;
  }
  .about-detail {
    flex-wrap: wrap;
  }
  .about-left {
    width: 100%;
  }
  .bike-pht,
  .radio-pht,
  .reading-pht {
    display: none;
  }
  .about {
    height: 100%;
  }
  .cert {
    padding: 0 1rem;
  }
  .cert h3,
  .about h3,
  .projects-container h3, 
  .contact h2 {
    font-size: 3rem;
  }
  .about h3{
    padding-bottom: 1rem;
  }
  .certification .certificate-card {
    gap: 1rem;
  }
  .contact{
    padding: 3rem 1rem;
  }
  .contact .container {
    padding: 1rem 2rem;
  }
  .contact-contianer {
    flex-wrap: wrap;
  }
  .contact-left {
    width: 100%;
    height: fit-content;
  }
  .contact-right {
    display: none;
  }
  .mobile-contact{
    display: block;
    width: 100%;
  }
  .contact ul{
    font-size: 18px;
    flex-direction: column;
    text-decoration: underline;
  }
  footer{
    font-size: 18px;
  }
}
